
.dark {
    background-color: #333;
    color: white;
}
.light {
    background-color: #fff;
    color: black;
}
.button{
    padding: 25px 50px;
    border:none;
    background-color: lightyellow;

}